/* - - --*/
/* - - --*/

#screen-container{
	position:absolute;
	width:1024px;
	height:768px;
	left:0px;
	top:0px;
	overflow:hidden;
	background: url(../images/40_sfondo_cuore.png) no-repeat;
}

#box1{
	position:absolute;
	width:509px;
	height:409px;
	left:65px;
	top:125px;
	z-index:100;
	background: url(../images/43_box1.png) no-repeat;
}
#box2{
	position:absolute;
	width:384px;
	height:455px;
	left:600px;
	top:130px;
	z-index:100;
	background: url(../images/43_box2.png) no-repeat;
}