/* - - --*/
/* - - --*/

#screen-container{
	position:absolute;
	width:1024px;
	height:768px;
	left:0px;
	top:0px;
	overflow:hidden;
	background: url(../images/sfondo_biogr.png) no-repeat;
}

#box1{
	position:absolute;
	width:944px;
	height:546px;
	left:64px;
	top:135px;
	background: url(../images/52.png) no-repeat;
}