/* - - --*/
/* - - --*/

#screen-container{
	position:absolute;
	width:1024px;
	height:768px;
	left:0px;
	top:0px;
	overflow:hidden;
	background: url(../images/40_sfondo.png) no-repeat;
}

#box1{
	position:absolute;
	width:583px;
	height:480px;
	left:229px;
	top:160px;
	z-index:100;
	background: url(../images/41_box.png) no-repeat;
}