<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Onglyza 1C 2013</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default-Landscape~ipad.png</string>
		<string>appico.png</string>
		<string>appico@2x.png</string>
		<string>appico.png</string>
		<string>appico.png</string>
		<string>appico.png</string>
		<string>appico.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Default-Landscape~ipad.png</string>
				<string>appico.png</string>
				<string>appico@2x.png</string>
				<string>appico.png</string>
				<string>appico.png</string>
				<string>appico.png</string>
				<string>appico.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.astrazeneca.onglyzadiab2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OnglyzaITA</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.2</string>
	<key>LSEnvironment</key>
	<dict>
		<key>ApplicationID</key>
		<string>18</string>
		<key>CurrentVersion</key>
		<integer>1</integer>
		<key>DataServiceBaseURL</key>
		<string>http://azipad.publicishealthware.com/</string>
		<key>StoreDataServiceHostName</key>
		<string>azipad.publicishealthware.com</string>
		<key>StoreDataServiceURL</key>
		<string>http://azipad.publicishealthware.com/DataService.axd</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
